.vscode

# Process docs
/Lab7_ADC/ProcDoc.md
/Lab7_ADC/DMA.md
/Lab7_ADC/Design.mdj
/Lab8_UART/Structs.md

# In progress 
Lab8

# Copies of projects


# Templates
HappyNewYear.rar
Snippets

# Additional sofware 
/Lab8_UART/Terminal1_9_b.zip
