.vscode
books

# Process docs (lab 7)
/Lab7_ADC/ProcDoc.md
/Lab7_ADC/DMA.md
/Lab7_ADC/Design.mdj

# Process docs (lab 8)
/Lab8_UART/Structs.md
/Lab8_UART/Lab8_UART_Model.mdj
/Lab8_UART/ProcessDoc.md 

# Process docs (lab9)
/RtosWrapper/RtosModel.mdj

# In progress 

# Copies of projects

# Templates
Snippets

# Additional sofware 
/Lab8_UART/Terminal1_9_b.zip
